<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Teacher Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Teacher Management System</h1>
    <hr>
    <h2>Save Teacher</h2>

    <form action="#" th:action="@{/index_teacher/saveTeacher}" th:object="${teacher}" method="POST">

        <input type="text" th:field="*{name}" placeholder="Teacher First Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{surname}" placeholder="Teacher Last Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{email}" placeholder="Teacher Email" class="form-control mb-4 col-4">
        <input type="text" th:field="*{course}" placeholder="Course Id" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save Teacher</button>
    </form>

    <hr>

    <a th:href="@{/index_teacher}"> Back to Teacher List</a><br><br>
    <a th:href="@{/main_page}"> Back to Main Page</a>
</div>
</body>

</html>